<!DOCTYPE html>
    <html lang="ru" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>createChat</title>
        <link rel="stylesheet" href="css/createChat.css">
        <script></script>
    </head>
    <body>
        <div class="page">
            <header>
                <h1>messenger</h1>
                <nav>
                    <a href="massages.html">massages</a>
                    <a href="friends.html">friends</a>
                    <a href="loginscreen2.html">exit</a>
                </nav>
            </header>

            
                <form action="">
                    <input type="submit" value="Create chat" class="create">
                    <div class="container1" id="container1">

                        <div class="friend">
                            <div class="info">
                                <div class="img"></div>
                                <h1>name</h1>
                            </div>
                            <label>
                                <input type="checkbox" class="add">
                                <div class="addimg"></div>
                            </label>
                        </div>

                    </div>
                </form>
            
           

        </div>
    </body>
</html>